@import url('https://fonts.googleapis.com/css?family=Lato');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
    background-image: url('./IMG/glide-bgc.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lato' ;
    color: azure;
}

.form-area{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    box-sizing: border-box;
    background: rgba(0, 0 , 0, .5);
    padding: 40px;
}

h3{
    margin: 0;
    padding: 0 0 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.form-area p{
    margin: 0;  
    padding: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.form-area input, selcet{
 margin-bottom: 20px;
 width: 100%;
}

#mail{
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    outline: none;
    height: 40px;
    display: 16px;
    color: cyan;
}

.form-area input[type=password]{
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    outline: none;
    height: 40px;
    display: 16px;
    color: #ffffff;
}

::placeholder{
    color: cyan;
}
 
.form-area select{
    margin-top: 20px;
    padding: 10px 0;
}

.form-area input[type=submit]{
    border:none;
    margin-top: 10px;
    padding: 2px 100px;
    height: 40px;
    outline:none;
    color: #ffffff;
    font-size: 15px;
    background-color: red;
    border-radius: 20px;
}

.form-area input[type=submit]:hover{
    background-color: darkred;
    color: #ffffff;
    cursor: pointer;
    transform: scale(.97);
}

.form-area input[type=button]{
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    outline: none;
    height: 40px;
    display: 16px;
}

.form-area a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 200;
}