// ---------------- COLORS ---------------- //
 $body-bg: #151825;
 $font-c: #ddd;
 $secondary-c: #ffc600;
 $fz: 1.2em;
 $h1-c:#ffc600;
 $inputBackground:transparent;
 $inputBorder-c: #fff;
//  --- BACKGROUNDS --- //
 $card-bg: transparent;
 $front-bg: #0c1024;
