@import "../mixins/rwd";
@import "../mixins/prefixes";
@import "../mixins/custom";

// -------------- variables -------------- //
// backgrounds:
$body-bg: #161616;
$header-bg: linear-gradient(to right, #001510, #00bf8f);
// colors:
$main-c: #dddddd;
$hero-c: #ffc600;
$btn-border-c: #000000;

// ------------- settings -------------- //

html,
body {
  overflow-x: hidden;
}

body {
  background: $body-bg;
  min-height: 100vh;
  @include antialiasing;
}

header {
  @include flexCenter(mobile);
  width: 100%;
  height: 40vh;
  background: $header-bg;
}

h1,
h2 {
  text-transform: uppercase;
  text-align: center;
}

h1 {
  letter-spacing: 15px;
  @include fluidSize(30px, 100px);
}

a {
  color: inherit;
  text-decoration: none;
  @include link-hover(color, 0.3s, #681212);
  @include text-shadow();
}

.btn {
  padding: 10px 25px;
  border: 4px solid $btn-border-c;
  @include fluidSize(13px, 20px);
  letter-spacing: 5px;

  &:hover {
    @include transition(all, 0.3);
    border-color: #681212;
    @include scale(0.97);
  }
}
