$siteColors: (
  bd-bg-i: url("../../assets/img/bgJ-1.jpg"),
  card-bg: #262626,
  toggle-bg: #fff,
  h2-c: #fff
);

$bxsd: 0 0 0px #df77f1;
$bxshd-toggle: 0 0 0 500px #df77f1;
$cardShd: 0 0 0 100px #36163b91;
